html {
	scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    overflow: hidden;
    /* box-shadow: 0 0.5rem 1rem #c89389; */
    background-color: #FEE8E3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;    
}

header a {
    text-decoration: none;
    color: rgb(67, 57, 57);
}

header .logo a{
    font-size: xx-large;
    color: #EF583B;
    font-weight: semi-bold;
    font-family: 'Roboto', sans-serif;
}

.menu-items a {
    padding-left: 20px;
    font-size: larger;
}

.menu-items a:hover{
    color: #EF583B;
}

/* main */

main {
    position: relative;
    top: 120;
    padding: 60px;
}

.hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img{
    align-items: center;

}

.hero-text {
    background-color: #FEE8E3;
    width: 60%;
    padding: 50px 40px;
    /* padding-left: 20px;
    margin-right: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -250px;
    border-radius: 5px;
}

form {
    /* margin-bottom: 30px; */
    padding: 30px;
}

input {
    padding: 6px 8px;
    color: rgb(179, 175, 175);
    border: none;
}

.btn-search {
    background-color: #EF583B;
    color: #fff;
    font-weight: semi-bold;
    padding: 6px 8px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -2px;
}

.hero-text p {
    font-size: x-large;
}

/* Results */

.results h3 {
    margin: 60px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    flex-wrap: wrap;
    
}

.card-item {
    flex: 1 0 30%;
    margin: 30px 15px;
}

.card-item img {
    width: 100%;
}

.card-item .description {
    text-align: center;
    margin-top: 20px;
}

.card-link-holder {
    margin: 10px 0;
}

.card-item a {
    text-decoration: none;
    background: #EF583B;
    padding: 6px 12px;
    border: none;
    color: #fff;
    border-radius: 5px;
}

/* Featured */

.features h3 {
    margin: 60px 0;
}

.feature-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.feature-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}

.feature-content img {
    width: 100%;
    border-radius: 5px;
}

/* Footer */

.footer {
    padding: 60px;
    margin-top: 150px;
    background: #FFF8F7;
}

.footer h3 {
    margin-bottom: 40px;
}

.footer input[type=text], input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.detailed-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.recipe-title {
    margin-bottom: 24px;
}

.category {
    margin-bottom: 24px;
}

.instruction h3 {
    margin-bottom: 24px;
}

.instruction p {
    margin-bottom: 24px;
}

.recipe-meal-img img{
    width: 200px;
    margin-bottom: 24px;
}


.footer button {
    background: #EF583B;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    color: #fff;
}