* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    overflow: hidden;
    /* box-shadow: 0 0.5rem 1rem #c89389; */
    background-color: #FEE8E3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;    
}

header a {
    text-decoration: none;
    color: rgb(67, 57, 57);
}

header .logo a{
    font-size: xx-large;
    color: #EF583B;
    font-weight: semi-bold;
    font-family: 'Roboto', sans-serif;
}

.menu-items a {
    padding-left: 20px;
    font-size: larger;
}

.menu-items a:hover{
    color: #EF583B;
}

/* main */

main {
    position: absolute;
    top: 140;
    padding: 60px;

}





